<?xml version="1.0"?>
<launch>
<!--Computer Vision -->


<include file="$(find yolov5_ros)/launch/yolov5.launch" />

  <!-- Delay before launching the second file -->
<node name="delay_launch_2" pkg="LAUNCH" type="delay_launch.py" args="5 $(find         camera_cone_detection)/launch/cameranewapproach.launch" output="screen" />

<node name="delay_launch_3" pkg="LAUNCH" type="delay_launch.py" args="5 $(find         AAM_PATH_PLANNING)/launch/accpathplanning.launch" output="screen" />
<!--
<include file="$(find AAM_STATE_ESTIMATION)/launch/stateestimation.launch" />


<node name="delay_launch_4" pkg="LAUNCH" type="delay_launch.py" args="1 $(find         AAM_LOCALIZTION)/launch/localization.launch" output="screen" />
-->
<node name="delay_launch_5" pkg="LAUNCH" type="delay_launch.py" args="2 $(find         AAM_CONTROL)/launch/acccontrol.launch" output="screen" />








  
  
  
</launch>
