<?xml version="1.0"?>
<launch>

<node name="hsv_node" pkg="camera_cone_detection" type="oldapproach.py" output="screen"/> 
    <node name="euclidean_clustering_node" pkg="camera_cone_detection" type="markerconversion.py" output="screen"/>

 <node  name="rviz" pkg="rviz" type="rviz" args="-d $(find camera_cone_detection)/rviz/rviz_config.rviz"/>
</launch>
